<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.own.apk.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/tits"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:allowBackup="true"
            android:name="com.own.apk.app.MainActivity"
            android:label="@string/app_name"
            android:noHistory = "true"
            android:supportsRtl="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.own.apk.app.AlarmActivity"
            android:label="backup process"
            android:theme="@style/AppTheme"
            android:noHistory = "true">
        </activity>

        <receiver android:name="com.own.apk.app.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.own.apk.app.AlarmRec" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>